<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
  <nav class="navbar is-info">
    <div class="navbar-brand">
      <a class="image is-64x64"" href="">
        <img src="/static/icons/F112D4BE-BD7F-4100-9658-548FBF7FE2B6.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      </a>
      <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://bulma.io/">
          Home
        </a>
        <a class="navbar-item" href="https://bulma.io/">
          About
        </a>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" href="/login">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>
                  Login
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-info" href="/signup">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>Sign Up</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="hero is-dark is-fullheight">
    <div class="hero-body">
      <div class="">
        <p class="title">
          AegisRx
        </p>
        <p>
          <ul>
            <li>Find Medications</li>
            <li>Look Up interactions</li>
            <li>Track Medicaions</li>
          </ul>
        </p>
      </div>
      <div class="image" style="float:right; margin:0px auto 0px auto;">
        <img src="/static/icons/1098028.png">
      </div>
    </div>

  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>AegisRx</strong> by <a href="https://jgthms.com">Us</a> Github<a href="https://github.com/twonkista/MedicationTracker-">2019. No Rights Reserved</a>.
      </p>
    </div>
  </footer>
</body>
</html>