<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-info">
        <div class="navbar-brand">
          <a class="image is-64x64"" href="/home">
            <img src="/static/icons/F112D4BE-BD7F-4100-9658-548FBF7FE2B6.png" alt="Bulma: a modern CSS framework based on Flexbox" width="64" height="64">
          </a>
        </div>
        
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Sign In
                </a>
            </div>
        </div>
    </nav>

    <form action="/login" method="POST">
        <div class="form-group">
          <label> Enter Username:</label>
          <input class="input is-link" type="text" placeholder="Username" name="username">
        </div>
        <div class="form-group">
          <label>Enter Password: </label>
          <input class="input is-normal" type="password" placeholder="Password" name="password">
        </div>
      </form>
      
</body>
</html>