<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-info">
        <div class="navbar-brand">
          <a class="image is-64x64"" href="/home">
            <img src="/static/icons/F112D4BE-BD7F-4100-9658-548FBF7FE2B6.png" alt="Bulma: a modern CSS framework based on Flexbox" width="64" height="64">
          </a>
        </div>

        <button href="/home" class="button is-dark" class="button is-large">Home</button>
    </nav>
    <h1 align="center">Research and Interactions</h1>
  <form method = "Post">
    <input class="input is-link" type="text" placeholder="NDC Code" name="ndcCode">
    <button type="submit">Look up Summary/Interactions</button>
  </form>
  <h2>Summary: </h2>
  <p>{{ndcCodeResearch}}</p>
  <br>
  <h2>Interactions or Warnings: </h2>
  <p>{{ndcCodeInteractions}}</p>
</body>
</html>
